.card {
    position: relative;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    text-align: center;
    padding: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.858);
}

.like-icon,
.dislike-icon {
    color: white;
    cursor: pointer;
}

.likes-count {
    color: white;
}

.remove-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.511);
}

.see-more-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.858);
}

.see-more-button {
    text-decoration: none;
    color: rgb(38, 38, 38);
    background-color: rgb(155, 246, 161);
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9em;
}

.see-more-button:hover {
    background-color: rgb(97, 173, 102);
    color: white;
}