.header_container {
    background-color: rgb(38, 38, 38);
    color: white;
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_container input {
    padding: 0.7em;
    border-radius: 20px;
    border: none;
    width: 250px;
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: rgb(155, 246, 161);
    transition: width 0.3s ease, right 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
    right: 0;
}

nav ul li a:hover {
    color: rgb(155, 246, 161);
}

nav ul li a.active {
    color: rgb(155, 246, 161);
    /* Active link color */
}

nav ul li a.active::after {
    width: 100%;
    /* Underline active link */
    right: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    color: rgb(155, 246, 161);
    text-decoration: none;
}

.zoo_logo {
    width: 7em;
}