.header_container {
    background-color: rgb(38, 38, 38);
    color: white;
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_container input {
    padding: 0.7em;
    border-radius: 20px;
    border: none;
    width: 250px;
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.logo a {
    color: rgb(231, 231, 128);
    text-decoration: none;

}